html{
  background-image: url(../img/download.jpg);
  box-sizing: border-box;
 
  }
    


 
  body {
    align-content: center;
    align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
     
      background-image: no-repeat;
      
  }
  .banner{
    text-align: center;
  color: salmon;
  font-size: 24px;
 
  }
  .wrapper {
      width: 50%;
      margin: 0 auto;
      padding: 1em;
      display: flex;
      text-align: center;
      justify-content: center;
      background-color:#efb106;


 
  }
  p {
      margin-bottom: 0;
      margin-top: 2rem;
  }
  
  section {
      flex-basis: 57%;
      margin-right: 10%;
  }
  aside {
      flex-basis: 33%;
  }
  fieldset{
      border: 2px solid rgb(243, 236, 236);
      border-radius: 10px;
      margin-bottom: 2rem;
      background-color:#efb106;
      display: flex;
      
  }
  fieldset:cust{
    display: flex;
  }
  legend{
      font-weight: Bold;
      font-size: 1.3rem;
      margin-top: 1.5rem;
      margin-bottom: 1.3rem;
      border: 2px solid rgb(243, 236, 236);
      color: black;
      display: flex;
      text-align: center;
      padding-top: 10px;
  }
  .app{
    display: flex;
    justify-content: space-between;
  }
  
  label{
      display: block;
      align-content: left;
  }
  textarea{
      height: 6rem;
      padding: 10px;
      margin-right: 30px;
  }
 
  select{
      font-size: 1rem;
  }
  button{
   text-align: center;
      font-size: 1rem;
      margin: 2rem 35rem;
      margin-top: 0.5rem;
      background-color:red;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 0.5rem 1rem;
  }
  button:hover {
	background-color: #9A2B27;
}
  
  input{
    padding: 5px;
    margin: 10px;
  }
  input:mail-list{
    color: white;
  }
  section{
    padding: 20px;
    
  }
  option{
    margin: 20px;
    padding: 60px;
  }
  
  /* For Desktop View */
@media screen and (min-width: 1024px) {
  .card {
    background-color: #63c971;
    color: #fff;
  }
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .card{
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .card{
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  .card {
    width: 400px;
    height: 200px;
    background-color: cyan;
    color: black;
  }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .card {
    width: 400px;
    height: 200px;
    background-color: chartreuse;
    color: black;
  }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .card  {
    width: 400%;
    height: 400%;
    background-color: rgb(0, 0, 0);
    color: black;
  }
}