html{
  background-image: url(../img/download.jpg);
  box-sizing: border-box;
 
  }
    


 
  body {
    align-content: center;
    align-items: center;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
     
      background-image: no-repeat;
      
  }
  .banner{
    text-align: center;
  color: salmon;
  font-size: 24px;
 
  }
  .wrapper {
      width: 50%;
      margin: 0 auto;
      padding: 1em;
      display: flex;
      text-align: center;
      justify-content: center;
      background-color:#efb106;


 
  }
  p {
      margin-bottom: 0;
      margin-top: 2rem;
  }
  
  section {
      flex-basis: 57%;
      margin-right: 10%;
  }
  aside {
      flex-basis: 33%;
  }
  fieldset{
      border: 2px solid rgb(243, 236, 236);
      border-radius: 10px;
      margin-bottom: 2rem;
      background-color:#efb106;
      display: flex;
      
  }
  fieldset:cust{
    display: flex;
  }
  legend{
      font-weight: Bold;
      font-size: 1.3rem;
      margin-top: 1.5rem;
      margin-bottom: 1.3rem;
      border: 2px solid rgb(243, 236, 236);
      color: black;
      display: flex;
      text-align: center;
      padding-top: 10px;
  }
  .app{
    display: flex;
    justify-content: space-between;
  }
  
  label{
      display: block;
      align-content: left;
  }
  textarea{
      height: 6rem;
      padding: 10px;
      margin-right: 30px;
  }
 
  select{
      font-size: 1rem;
  }
  button{
   text-align: center;
      font-size: 1rem;
      margin: 2rem 35rem;
      margin-top: 0.5rem;
      background-color:red;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 0.5rem 1rem;
  }
  button:hover {
	background-color: #9A2B27;
}
  
  input{
    padding: 5px;
    margin: 10px;
  }
  input:mail-list{
    color: white;
  }
  section{
    padding: 20px;
    
  }
  option{
    margin: 20px;
    padding: 60px;
  }
  
  /* For Desktop View 
@media screen and (min-width: 1024px) {
  .card {
    background-color: #63c971;
    color: #fff;
  }
}*/
 
/* For Tablet View 
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .card{
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
}*/
 
/* For Mobile Portrait View 
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .card{
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
}*/
 
/* For Mobile Landscape View 
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  .card {
    width: 400px;
    height: 200px;
    background-color: cyan;
    color: black;
  }
}*/
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .card {
    width: 1000%;
    height: 800%;
   
    color: black;
    display: block;
  }
  .wrapper{
   
   width: 100%;
   
      padding: 1em;
      display: flex;
      text-align: center;
      justify-content: center;
      background-image: url(../img/gg.jpg);
  }
  fieldset:cust{
    
   font-size: 36px;
   
  }
  fieldset{
   
    width: 100%;
    font-size: 48px;
    border-radius: 5px;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: whitesmoke;
    margin-left: 50px;
  }
  .gridme{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    text-align: right;
    margin-left: 60px;
  }
  legend{
    
    font-size: 48px;
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
    border: 1px solid rgb(243, 236, 236);
    color: black;
    display: flex;
    text-align: center;
    padding-top: 10px;
}
option{
  margin: 10px;
  padding: 30px;
  
}
   
input{
  
 height: 100px;
 width: 400px;
  border: 3px solid black;
 font-weight: bold;
 text-align: center;
 justify-content: center;
 font-size: 36px;
}
textarea{
  height: 2.5rem;
  width: 400px;
  padding: 60px;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 28px;
  color: black;

}
select{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  width: 300px;
  height:150px;
}

.mobile{
margin: 200px;
font-size: 60px;
text-align: center;
align-content: center;



}
.build{

font-size: 48px;
padding: 10px;
}
button{
  text-align: center;
     font-size: 3rem;
     margin: 0rem 35rem;
     margin-top: 0rem;
     background-color:red;
     color: white;
     border: none;
     border-radius: 10px;
    
     width: 500px;
     height: 150px;
     justify-content: center;
 }
 button:hover {
 background-color: #9A2B27;
}
}
 
/* For iPhone 4 Portrait or Landscape View 
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .card  {
   
    background-color: rgb(0, 0, 0);
    color: black;
  }
}*/